#js-perf-visualizer-root {
  position: absolute;
  left: 0;
  top: 0;

  * {
    box-sizing: border-box;
  }
}

#graph-root {
  background: #ececec;
  width: 500px;
  height: 100px;
}

.comp-root {
  max-width: 500px;

  & > div {
    float: left;
  }
  overflow: auto;
}