.comp-log {
  background: antiquewhite;
  max-height: 300px;
  overflow-y: scroll;

  .log, .mark{
    font-family: Consolas, Verdana;
    font-size: 14px;
    padding: 2px 5px;

    &.bg-error-a {
      background: #d20000;
      color: white;
    }

    &.bg-error-b {
      background: #ee0000;
      color: white;
    }

    &.bg-warn-a {
      background: orange;
      color: white;
    }

    &.bg-warn-b {
      background: darkorange;
      color: white;
    }

    &.bg-log-a {
      background: aliceblue;
      color: darkblue;

      .dot {
        background: darkblue;
      }
    }

    &.bg-log-b {
      background: #dee6ed;
      color: darkblue;

      .dot {
        background: darkblue;
      }
    }

    .dot {
      display: inline-block;
      background: white;
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
  }

  .indentation {
    display: inline-block;
    width: 25px;
    text-align: right;
    padding-right: 6px;
  }
}