#js-perf-visualizer-root {
  position: absolute;
  left: 0;
  top: 0;

  width: 500px;
  &.view-maximized{
    width: 100%;
    left: 0 !important;
    top: 0  !important;
  }

  * {
    box-sizing: border-box;
  }
}

.comp-root {
  width: 100%;

  & > * {
    float: left;
  }
  overflow: auto;

  .comp-btn-max-min {
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 4px;
    color: gray;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
  }
}