.comp-fps {
  font-family: consolas, Verdana;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1px;
  padding-right: 6px;
  color: white;

  .red {
    color: red;
  }
}

.comp-btn-pause-play {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 6px;
  background: white;
  color: gray;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
}

.comp-graph {
  position: relative;
  cursor: pointer;
}